.content-card {
  width: 600px;
  height: 300px;
  padding: 20px;
  margin: 20px;
  border: 5px solid #050404;
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 10pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content-card h1 {
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}