body {
  padding: 0px;
  margin: 0px;
}

nav {
  width: 100%;
  height: 100px;
  background-color: rebeccapurple;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid black;
}

nav h1 {
  margin: 10px;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}